#topbar-cta-button {
  background: transparent !important;
  border: none !important;
}

#topbar-cta-button a > span.absolute {
  background-color: #141414 !important;
}

#topbar-cta-button a:hover > span.absolute {
  background-color: #000000 !important;
  opacity: 1 !important;
}
